@charset "utf-8";

/* 	Filename: code2-2_layout.css 
	Author Name:Prafulla Kalusinh Garasia
	Date: 2021-10-10
	*/

body {
   width: 900px;
}

img {
   display: block;
   width: 400px;
   float: right;
}